# Unity
/[Ll]ibrary
/[Ll]ogs
/[Oo]bj
/[Tt]emp
/[Uu]serSettings

# Project
/Assets/Planet/Testing/Materials*
/Assets/Planet/Testing/Output*
/Assets/Planet/Testing/*.renderTexture*

# Visual Studio
/.vs
/.vsconfig
/*.sln
/*.csproj

# Rider
/**/.idea